@tailwind base;
@tailwind components;
@tailwind utilities;









header {
  text-align: center;
  padding: 20px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

section {
  padding: 20px;
}

h1, h2 {
  color: #333;
}
